In [3]:
import numpy

In [5]:
array1 = numpy.array([2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31])

In [6]:
array1

array([ 2,  3,  5,  7, 11, 13, 17, 19, 23, 29, 31])

In [7]:
type(array1) # n차원(d) 배열

numpy.ndarray

In [8]:
array1.shape # 11행 1열 정도의 느낌 1차원, 즉, 2차원 배열이면 (3, 4)처럼 나옴 이건 3행 4열!

(11,)

In [9]:
array1.size

11

In [10]:
array2 = numpy.full(6, 7)
print(array2)

[7 7 7 7 7 7]

In [11]:
array3 = numpy.zeros(6, dtype = int)
print(array3)

[0 0 0 0 0 0]

In [12]:
array4 = numpy.ones(6, dtype=int)
print(array4)

[1 1 1 1 1 1]

In [13]:
arrayRandom = numpy.random.random(6)
print(arrayRandom)

[0.37963983 0.93780189 0.41425614 0.9907129  0.49178779 0.69472235]

In [15]:
array11 = numpy.arange(6) # range랑 똑같아!
print(array11)

[0 1 2 3 4 5]

In [17]:
import numpy as np # 이제 넘파이대신 np써두돼! 내가 별명 지어줄수있어

In [20]:
import matplotib.pyplot as plp

ModuleNotFoundError: No module named 'matplotib'

In [1]:
import pandas as pd

In [2]:
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

In [8]:
my_df = pd.DataFrame(two_dimensional_list, columns = ['name', 'english_score', 'math_score'], index=['a', 'b', 'c', 'd'])
my_df

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31
c   ikjoong             68          91
d   yoonsoo             88          75

In [9]:
my_df.columns

Index(['name', 'english_score', 'math_score'], dtype='object')

In [10]:
my_df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
my_df.dtypes

name             object
english_score     int64
math_score        int64
dtype: object

In [5]:
type(my_df)

pandas.core.frame.DataFrame